* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

a{
  text-decoration: none;
}

.boton{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 20px auto;
  text-align: center;
  padding: 12px;
}

.formularios{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 30%;
  margin: 20px auto;
  text-align: center;
  padding: 12px 50px;
  border: 2px solid #60a100;
  border-radius:4px;
  outline:none;
  transition:.3s;
  text-decoration: none;
  background-color: white; 
  color: black; 
}

.tabla-usuarios table{
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 4px;
}

table tr,
table td,
table th {
  padding: 16px;
  text-align: center;
  font-size: .95em;
  margin: 10px;
}

.tabla-usuarios--edit{
  background: #009688;
  padding: 6px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.tabla-usuarios--delete{
  background: #b11e1e;
  padding: 6px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}